@{
    ViewBag.Title = "Index";
}

<h2>Reports</h2>

<p>
@Html.ActionLink("Movement Report", "Movement") <br />
@Html.ActionLink("Stoppage Report", "Stoppage") <br />
@Html.ActionLink("Speed Report", "Speed") <br />
@Html.ActionLink("Alarm Report", "Alarm") <br />
@Html.ActionLink("SOS Report", "Sos") <br />
</p>
